// Icon class of button
%icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  fill: currentColor;
  pointer-events: none;
}
.icon {
  @extend %icon;
}

// Icon small size modifier
%icon__small {
  width: 1.125rem;
  height: 1.125rem;
}

// Icon large size modifier
%icon__large {
  width: 2.25rem;
  height: 2.25rem;
}

%icon__xlarge {
  width: 3rem;
  height: 3rem;
}