// ===============================
// Variables
// ===============================

// Colors
//
$color-primary: #455A64 !default;
$color-secondary: #00796B !default;

$color-success: #7cb342  !default;
$color-information: #3498db  !default;
$color-warning: #ed9c20  !default;
$color-error: #c0392b  !default;

$color-gray: lighten(#000, 40%) !default;
$color-gray-dark: lighten(#000, 20%) !default;
$color-gray-light: lighten(#000, 60%) !default;

//== Light theme
//
// Black alpha
$black_dark: #333;
$black_dark_alpha: rgba(#000, 0.8);

$black_medium: #666;
$black_medium_alpha: rgba(#000, 0.6);

$black_light: #999;
$black_light_alpha: rgba(#000, 0.4);

// Black smoke alpha (Most used to dividers colors)
$black_smoke_dark: #ccc;
$black_smoke_dark_alpha: rgba(#000, 0.2);

$black_smoke_medium: #d9d9d9;
$black_smoke_medium_alpha: rgba(#000, 0.15);

$black_smoke_light: #e6e6e6;
$black_smoke_light_alpha: rgba(#000, 0.1);

$black_smoke_lighter: #f3f3f3;
$black_smoke_lighter_alpha: rgba(#000, 0.05);

//== Dark theme
//
// White alpha
$white_dark: #ccc;
$white_dark_alpha: rgba(#fff, 0.8);

$white_medium: #999;
$white_medium_alpha: rgba(#fff, 0.6);

$white_light: #666;
$white_light_alpha: rgba(#fff, 0.4);

// White smoke alpha (Most used to dividers colors)
$white_smoke_dark: #333;
$white_smoke_dark_alpha: rgba(#fff, 0.2);

$white_smoke_medium: #262626;
$white_smoke_medium_alpha: rgba(#fff, 0.15);

$white_smoke_light: #191919;
$white_smoke_light_alpha: rgba(#fff, 0.1);

$white_smoke_lighter: #0c0c0c;
$white_smoke_lighter_alpha: rgba(#fff, 0.05);

// White colors
$color-white-2: darken(#fff, 2%); // #FAFAFA
$color-white-4: darken(#fff, 4%); // #F5F5F5
$color-white-5: darken(#fff, 5%); // #F0F0F0
$color-white-10: darken(#fff, 10%); // #E6E6E6
$color-white-15: darken(#fff, 15%); // #D9D9D9
$color-white-20: darken(#fff, 20%); // #CCCCCC

$border-color-light: $color-white-10;


// Scaffolding
//
$body-background: #fff;

$text-color: $color-gray-dark;
$secondary-text-color: $color-gray-light;

$link-color: inherit !default;
$link-decoration: underline !default;
$link-hover-color: inherit !default;
$link-hover-decoration: underline !default;

$border-radius-large: 50% !default;

$transition-duration: .28s !default;
$transition-duration-fast: .14s !default;
$transition-duration-slow: .56s !default;
$transition-timing-function: cubic-bezier(.4,0,.2,1) !default;
$transition: all $transition-duration $transition-timing-function !default;


// Typography
//
$baseline: 1.5rem !default;
$baseunit: 0.5rem !default;

$font-family: "Roboto", Arial, sans-serif !default;
$font-size: 16px !default;
$font-size-large: 1.5em !default;
$font-size-small: 0.75em !default;

$line-height: 1.5 !default;

$font-bold: 500;
$strong-font-weight: $font-bold;

//Headings
//
$h1-font-size: 3rem !default;
$h1-line-height: calc(1em + #{$baseunit}) !default;
$h1-font-weight: 100 !default;

$h2-font-size: 2.5rem !default;
$h2-font-weight: 300 !default;
$h2-line-height: calc(1em + #{$baseunit}) !default;

$h3-font-size: 2rem !default;
$h3-font-weight: 300 !default;
$h3-line-height: calc(1em + #{$baseunit}) !default;

$h4-font-size: 1.5rem !default;
$h4-font-weight: 300 !default;
$h4-line-height: calc(1em + #{$baseunit}) !default;

$h5-font-size: 1rem !default;
$h5-font-weight: 400 !default;
$h5-line-height: calc(1em + #{$baseunit}) !default;

$h6-font-size: 0.75rem !default;
$h6-font-weight: 400 !default;
$h6-line-height: calc(1em + #{$baseunit}) !default;


//==Media queries breakpoints
//
$screen-large-phone-breakpoint: 480px !default;
$screen-tablet-breakpoint: 640px !default;
$screen-desktop-breakpoint: 960px !default;
$screen-large-desktop-breakpoint: 1280px !default;
$screen-hd-desktop-breakpoint: 1600px !default;


// Layout Header
//
@import 'layout/variables';

// Navigation
//
@import 'navigation/variables';


// Button
//
@import 'button/variables';


// Focus
//
// $focus-color: hsla(200,100%,50%, 0.4);


// Tables
//
$table-font-size: 1rem;
$table-header-font-size: 0.875rem;
$table-header-color: $color-gray-light;
$table-row-height: 3rem;
$table-accent-color: $color-white-2;
$table-hover-color: $color-white-4;
$table-selection-color: $color-white-4;
$table-border: 1px solid rgba(0, 0, 0, 0.15);
$table-dividers: 1px solid rgba(0, 0, 0, 0.1);
$table-margin-top: 1rem;
$table-margin-bottom: 2rem;


// Form controls
//
$form-field-transition: all 0.2s;
$input-bg: #fff;
$input-bg-disabled: $color-gray-light;
$input-font-size: 1rem;
$input-text-indent: 0;
$input-color: $text-color;
$input-color-placeholder: $color-gray-light;

$input-height: 3rem;
$input-padding: 16px 0 8px;
$input-margin-bottom: 1rem;

$input-border-color: $color-white-20;
$input-border-color-focus: $color-primary;
$input-border-color-error: $color-error;
$input-line-height: $input-height;

$textarea-min-height: 4rem;
$textarea-line-height: $line-height;

$cursor-disabled: not-allowed;

$input-check-size: 1rem;
$input-check-border-width: 1px;
$input-check-border-color: $color-gray-light;
$input-check-checked-border-color: #3CB371;
$input-check-disabled-border-color: $color-white-15;



// List
//
$list-items-height: $input-height;
$list-items-color: $text-color;
$list-items-hover-color: #fff;
$list-items-hover-bg-color: #789;


// Shadow elevation
//
$elevation-1: 1px;
$elevation-2: 2px;
$elevation-3: 3px;
$elevation-4: 4px;
$elevation-5: 5px;