// .open-nav {
//   display: block;
//   .has-#{$navigation-classname}__opened & {
//     display: none;
//   }
// }

// .close-nav {
//   display: none;
//   .has-#{$navigation-classname}__opened & {
//     display: block;
//   }
// }

.#{$navigation-classname} {
  position: fixed;
  // top: $header-height;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: $navigation-width;
  overflow-y: auto;
  background: $navigation-bg-color;
  user-select: none;
  will-change: transform;
  transform: translateX(-100%);

  transition-property: transform;
  transition-duration: $transition-duration-fast;
  transition-timing-function: $transition-timing-function;

  [data-navigation=opened] & {
    transform: translateX(0);
    transition-duration: $transition-duration;
  }
}


.#{$navigation-classname}--link,
%#{$navigation-classname}--link {
  @extend %button;
  width: 100%;
  color: $menu-link-color;

  &, &:hover, &:focus, &:active {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: $menu-link-hover-color;
    background: $menu-link-hover-background;
  }

}

.#{$navigation-classname}--link--icon {
  display: inline-flex; // IE10 Fix
  @extend %icon;
  margin-right: 1rem;
}

.#{$navigation-classname}--link--text {
  display: inline-flex; // IE10 Fix
  flex-grow: 1;
  @include text-overflow();
}


.menu {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// .menu--group {
//   min-height: $menu-item-height;
//   display: flex;
//   align-items: center;

//   &:not(:first-child) {
//     margin-top: 1rem;
//   }

//   span {
//     margin: 0 1rem;
//     line-height: $menu-item-height;
//     font-size: .85rem;
//     color: $menu-link-color;
//     // letter-spacing: .5px;
//     text-transform: uppercase;
//   }

//   hr {
//     flex-grow: 1;
//     border-top: 1px solid #ccc;
//     border-bottom: 1px solid #fff;
//   }
// }

.menu--item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  &[data-has-submenu='true'] {

    &[data-submenu='opened'] {
      background: $menu-link-hover-background;

      .#{$navigation-classname}--link {
        color: $menu-link-hover-color;
      }

      .submenu {
        display: block;
      }
    }

    > .#{$navigation-classname}--link::after {
      // Create caret icon
      content: '';
      display: inline-flex; // IE10 Fix
      margin-left: 1rem;
      border-top: 6px solid;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      // transform: rotate(-45deg);
    }
  }
}


// Submenu
//
.submenu {
  display: none;
  @extend .menu;
}

.submenu .#{$navigation-classname}--link {
  padding-left: $submenu-link-padding-left;

  &:hover,
  &:focus,
  &.active {
    background: $submenu-link-hover-background;
  }

  &.active {
    font-weight: $submenu-link-active-font-bold;
  }
}