$navigation-classname: 'navigation' !default;
$navigation-width: (320px - 56px) !default;
$navigation-bg-color: $color-white-5 !default;

$navigation-transition: $transition !default;

$menu-item-height: 48px;

$menu-link-font-size: 1rem;
$menu-link-color: $color-gray;
$menu-link-hover-color: #000;
$menu-link-hover-background: darken( $navigation-bg-color, 5% );

// $menu-text-line-height: $menu-item-height;

$submenu-link-hover-background: darken( $navigation-bg-color, 10% );
$submenu-link-padding-left: 3.5rem;
$submenu-link-active-font-bold: $font-bold;