/*= Flex Grid =*/

//= STYLES
//
.#{$grid-classname} {
  @include grid();

  // Herlper align classes
  &__justify_left {
    justify-content: flex-start;
  }

  &__justify_right {
    justify-content: flex-end;
  }

  &__justify_center {
    justify-content: center;
  }

  &__justify_between {
    justify-content: space-between;
  }

  &__justify_around {
    justify-content: space-around;
  }

  @include media($screen-desktop-breakpoint) {
    max-width: $grid-desktop-breakpoint;
  }
  @include media($screen-large-desktop-breakpoint) {
    max-width: $grid-large-desktop-breakpoint;
  }
  @include media($screen-hd-desktop-breakpoint) {
    max-width: $grid-hd-desktop-breakpoint;
  }
}

// Fluid grid
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.
.#{$grid-classname}__fluid {
  @include grid();
}

// Cell styles and align classes
.#{$cell-classname} {
  @include cell();

  /// Generate phone columns
  @include phone_columns();

  /// Generate tablet columns
  @include tablet_columns();

  /// Generate desktop columns
  @include desktop_columns();

  /// Generate large desktop columns
  @include large_desktop_columns();


  // Helper align classes
  &__align_top {
    align-self: flex-start;
  }

  &__align_middle {
    align-self: center;
  }

  &__align_bottom {
    align-self: flex-end;
  }

  &__align_stretch {
    align-self: stretch;
  }
}