// Mixins for width calculation.
@mixin partial-size($size, $columns, $gutter) {
  width: calc(#{(($size / $columns) * 100)+"%"} - #{$gutter});
}

// @mixin full-size($gutter) {
//   @include partial-size(1, 1, $gutter);
// }

@mixin grid($gutter: $grid-gutter){
  display: flex;
  flex-wrap: wrap;
  // margin: 0 auto;
  padding: $gutter / 2;
}

@mixin cell( $gutter: $grid-gutter ) {
  box-sizing: border-box;
  margin: $gutter / 2;
}

// @mixin offset-size($size, $columns, $gutter) {
//   margin-left: calc(#{(($size / $columns) * 100)+"%"} + #{$gutter / 2});

//   .mdl-grid.mdl-grid--no-spacing > & {
//     margin-left: #{(($size / $columns) * 100)+"%"};
//   }
// }



//  Generate phone columns
//
@mixin phone_columns () {
  // @media (max-width: $grid-tablet-breakpoint - 1) {

    // .col {
    //   @include partial-size($grid-columns, $grid-columns, $grid-gutter);
    // }

    // Define order override classes.
    // @for $i from 1 through $grid-max-columns {
    //   .col--order-#{$i}-phone {
    //     order: $i;
    //   }
    // }

    // Define partial sizes for columnNumber < totalColumns.
    @for $i from 1 through $grid-columns {
      &__#{$i} {
        @include partial-size($i, $grid-columns, $grid-gutter);
      }
    }

    // Define valid phone offsets.
    // @for $i from 1 through ($grid-phone-columns - 1) {
    //   .col--#{$i}-offset,
    //   .col--#{$i}-offset-phone.col--#{$i}-offset-phone {
    //     @include offset-size($i, $grid-phone-columns, $grid-phone-gutter);
    //   }
    // }

  // }
}


//  Generate tablet columns
//
@mixin tablet_columns () {
  @media (min-width: $grid-tablet-breakpoint) {

    // .col {
    //   @include partial-size($grid-columns, $grid-tablet-columns, $grid-gutter);
    // }

    // Define order override classes.
    // @for $i from 1 through $grid-max-columns {
    //   .col--order-#{$i}-tablet {
    //     order: $i;
    //   }
    // }

    // Define partial sizes for columnNumber < totalColumns.
    @for $i from 1 through $grid-tablet-columns {
      &__#{$i},
      &__#{$i}__sm {
        @include partial-size($i, $grid-tablet-columns, $grid-gutter);
      }
    }

    // Define 100% for everything else.
    // @for $i from $grid-tablet-columns through $grid-desktop-columns {
    //   .col--#{$i}-col,
    //   .col--#{$i}-col-tablet {
    //     @include full-size($grid-tablet-gutter);
    //   }
    // }

    // Define valid tablet offsets.
    // @for $i from 1 through ($grid-tablet-columns - 1) {
    //   .col--#{$i}-offset,
    //   .col--#{$i}-offset-tablet.col--#{$i}-offset-tablet {
    //     @include offset-size($i, $grid-tablet-columns, $grid-tablet-gutter);
    //   }
    // }

  }
}


//  Generate desktop columns
//
@mixin desktop_columns () {
  @media (min-width: $grid-desktop-breakpoint) {

    // .col {
    //   @include partial-size($grid-columns, $grid-desktop-columns, $grid-gutter);
    // }

    // Define order override classes.
    // @for $i from 1 through $grid-max-columns {
    //   .col--order-#{$i}-desktop {
    //     order: $i;
    //   }
    // }

    // Define partial sizes for all numbers of columns.
    @for $i from 1 through $grid-desktop-columns {
      &__#{$i},
      &__#{$i}__md {
        @include partial-size($i, $grid-desktop-columns, $grid-gutter);
      }
    }

    // Define valid desktop offsets.
    // @for $i from 1 through ($grid-desktop-columns - 1) {
    //   .col--#{$i}-offset,
    //   .col--#{$i}-offset-desktop {
    //     @include offset-size($i, $grid-desktop-columns, $grid-desktop-gutter);
    //   }
    // }

  }
}


//  Generate large desktop columns
//
@mixin large_desktop_columns () {
  @media (min-width: $grid-large-desktop-breakpoint) {

    // .col {
    //   @include partial-size($grid-columns, $grid-large-desktop-columns, $grid-gutter);
    // }

    // Define order override classes.
    // @for $i from 1 through $grid-max-columns {
    //   .col--order-#{$i}-large-desktop {
    //     order: $i;
    //   }
    // }

    // Define partial sizes for all numbers of columns.
    @for $i from 1 through $grid-large-desktop-columns {
      &__#{$i},
      &__#{$i}__lg {
        @include partial-size($i, $grid-large-desktop-columns, $grid-gutter);
      }
    }

    // Define valid desktop offsets.
    // @for $i from 1 through ($grid-large-desktop-columns - 1) {
    //   .col--#{$i}-offset,
    //   .col--#{$i}-offset-large-desktop.col--#{$i}-offset-large-desktop {
    //     @include offset-size($i, $grid-large-desktop-columns, $grid-large-desktop-gutter);
    //   }
    // }

  }
}