// Mixins for width calculation.
@mixin partial-size($size, $columns, $gutter) {
  width: calc(#{(($size / $columns) * 100)+"%"} - #{$gutter});
}

@mixin full-size($gutter) {
  @include partial-size(1, 1, $gutter);
}

@mixin grid($gutter: $grid-gutter){
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 ($gutter / 2);
  @extend %box-sizing-border-box;
}

@mixin cell( $gutter: $grid-gutter ) {
  margin: $gutter / 2;
  @extend %box-sizing-border-box;
}

// @mixin offset-size($size, $columns, $gutter) {
//   margin-left: calc(#{(($size / $columns) * 100)+"%"} + #{$gutter / 2});

//   .mdl-grid.mdl-grid--no-spacing > & {
//     margin-left: #{(($size / $columns) * 100)+"%"};
//   }
// }



//  Generate phone columns
//
@mixin phone_columns () {

  // Define partial sizes for columnNumber < totalColumns.
  @for $i from 1 through ($grid-columns - 1) {
    &__#{$i} {
      @include partial-size($i, $grid-columns, $grid-gutter);
    }
  }

  // Define 100% for everything else.
  @for $i from $grid-columns through $grid-max-columns {
    &__#{$i} {
      @include full-size($grid-gutter);
    }
  }

  // Define order override classes.
  @for $i from 1 through $grid-max-columns {
    &__order__#{$i} {
      order: $i;
    }
  }

  &__default {
    @extend .#{$cell-classname}__4;
  }

  // Define valid phone offsets.
  // @for $i from 1 through ($grid-phone-columns - 1) {
  //   .col--#{$i}-offset,
  //   .col--#{$i}-offset-phone.col--#{$i}-offset-phone {
  //     @include offset-size($i, $grid-phone-columns, $grid-phone-gutter);
  //   }
  // }
}


//  Generate tablet columns
//
@mixin tablet_columns () {
  @include media ($grid-tablet-breakpoint) {

    // Define partial sizes for columnNumber < totalColumns.
    @for $i from 1 through ($grid-tablet-columns - 1) {
      &__#{$i},
      &__#{$i}__sm {
        @include partial-size($i, $grid-tablet-columns, $grid-gutter);
      }
    }

    // Define 100% for everything else.
    @for $i from $grid-tablet-columns through $grid-max-columns {
      &--#{$i},
      &--#{$i}__sm {
        @include full-size($grid-gutter);
      }
    }

    // Define order override classes.
    @for $i from 1 through $grid-max-columns {
      &__order__#{$i}__sm {
        order: $i;
      }
    }

    &__default {
      @extend .#{$cell-classname}__4__sm;
    }

    // Define valid tablet offsets.
    // @for $i from 1 through ($grid-tablet-columns - 1) {
    //   .col--#{$i}-offset,
    //   .col--#{$i}-offset-tablet.col--#{$i}-offset-tablet {
    //     @include offset-size($i, $grid-tablet-columns, $grid-tablet-gutter);
    //   }
    // }

  }
}


//  Generate desktop columns
//
@mixin desktop_columns () {
  @include media ($grid-desktop-breakpoint) {

    // Define partial sizes for all numbers of columns.
    @for $i from 1 through ($grid-desktop-columns - 1) {
      &__#{$i},
      &__#{$i}__md {
        @include partial-size($i, $grid-desktop-columns, $grid-gutter);
      }
    }

    // Define 100% for everything else.
    @for $i from $grid-desktop-columns through $grid-max-columns {
      &--#{$i},
      &--#{$i}__md {
        @include full-size($grid-gutter);
      }
    }

    // Define order override classes.
    @for $i from 1 through $grid-max-columns {
      &__order__#{$i}__md {
        order: $i;
      }
    }

    &__default {
      @extend .#{$cell-classname}__4__md;
    }

    // Define valid desktop offsets.
    // @for $i from 1 through ($grid-desktop-columns - 1) {
    //   .col--#{$i}-offset,
    //   .col--#{$i}-offset-desktop {
    //     @include offset-size($i, $grid-desktop-columns, $grid-desktop-gutter);
    //   }
    // }

  }
}


//  Generate large desktop columns
//
@mixin large_desktop_columns () {
  @include media ($grid-large-desktop-breakpoint) {

    // Define partial sizes for all numbers of columns.
    @for $i from 1 through $grid-large-desktop-columns {
      &__#{$i},
      &__#{$i}__lg {
        @include partial-size($i, $grid-large-desktop-columns, $grid-gutter);
      }
    }

    // Define 100% for everything else.
    @for $i from $grid-large-desktop-columns through $grid-max-columns {
      &--#{$i},
      &--#{$i}__lg {
        @include full-size($grid-gutter);
      }
    }

    // Define order override classes.
    @for $i from 1 through $grid-max-columns {
      &__order__#{$i}__lg {
        order: $i;
      }
    }

    &__default {
      @extend .#{$cell-classname}__4__lg;
    }

    // Define valid desktop offsets.
    // @for $i from 1 through ($grid-large-desktop-columns - 1) {
    //   .col--#{$i}-offset,
    //   .col--#{$i}-offset-large-desktop.col--#{$i}-offset-large-desktop {
    //     @include offset-size($i, $grid-large-desktop-columns, $grid-large-desktop-gutter);
    //   }
    // }

  }
}