$grid-gutter: 16px !default;

$grid-columns: 4 !default;
$grid-tablet-columns: 8 !default;
$grid-desktop-columns: 12 !default;
$grid-large-desktop-columns: 16 !default;

$grid-max-columns: $grid-large-desktop-columns !default;

$grid-tablet-breakpoint: $screen-tablet-breakpoint !default;
$grid-desktop-breakpoint: $screen-desktop-breakpoint !default;
$grid-large-desktop-breakpoint: $screen-large-desktop-breakpoint !default;
$grid-hd-desktop-breakpoint: $screen-hd-desktop-breakpoint !default;

$grid-classname: 'grid' !default;
$cell-classname: 'cell' !default;