// Layout Header
$header-background: $color-white-10 !default;
$header-height: 3.5rem !default;
$header-link-color: darken($header-background, 40%) !default;

// Layout Footer
$footer-color: $color-white-10 !default;
$footer-background: #333 !default;