%button {
  display: inline-flex;
  display: -moz-box; // Hack to firefox - display inline-flex not showing icon and text inline
  flex-shrink: 0;
  padding: $button-padding;
  min-height: $button-height;
  line-height: $button-line-height;
  align-items: center;
  vertical-align: middle;
  text-align: left;
  text-decoration: none;
  font-family: inherit;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  color: $button-color;
  border: none;
  appearance: none;
  background: $button-background;
  @extend %box-sizing-border-box;
  transition: $button-transition;
  user-select: none;
  cursor: pointer;
  transform: scale(1);
  will-change: background-color, box-shadow;

  &:hover, &:focus {
    background-color: $button-background-hover;
  }

  &:active {
    transition: none;
    background-color: $button-background-active;
  }
}

[type="submit"],
[type="button"],
button {
  @extend %button;
  &::-moz-focus-inner {
    border: 0;
  }
}

.#{$button-classname} {
  @extend %button;
  justify-content: center;
  text-align: center;
  border-radius: $button-border-radius;
}


// Bevel modifiers
%button__raised {
  @include elevation($elevation-2);

  &:hover,
  &:focus {
    @include elevation($elevation-3);
  }

  &:active {
    @include elevation($elevation-1);
  }
}
.#{$button-classname}[data-bevel=raised] {
  @extend %button__raised;
}


// Full width modifier
%button__block {
  width: 100%;
}
.#{$button-classname}[data-type=block] {
  @extend %button__block;
}


// Only icon version modifier
%button__icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.#{$button-classname}[data-type=icon] {
  @extend %button__icon;
}


// Size modifiers
@include make-button-size (
  $modifierClass: "small",
  $height: $button-small-height,
  $lineHeight: $button-small-line-height,
  $fontSize: $button-small-font-size
  ){
  text-transform: uppercase;
};

@include make-button-size (
  $modifierClass: "large",
  $height: $button-large-height,
  $lineHeight: $button-large-line-height,
  $fontSize: $button-large-font-size,
  $fontWeight: $button-large-font-weight
  );


// Color modifiers
@include make-button-collored ($modifierClass: "default", $background: $button-default-background, $textColor: $text-color);

@include make-button-collored ($modifierClass: "primary", $background: $button-primary-background);

@include make-button-collored ($modifierClass: "accent", $background: $button-accent-background);


// Icon class of button
.#{$button-classname}--icon {
  @extend %icon;

  // Adding margin left if the icon is positioned to the right;
  .#{$button-classname}--text + & {
    margin-left: 1em;
  }

  // Icon small size modifier
  .#{$button-classname}[data-size=small] & {
    @extend %icon__small;
  }

  // Icon large size modifier
  .#{$button-classname}[data-size=large] & {
    @extend %icon__large;
  }
}

// Text class of button -- required when to use 'btn--icon';
.#{$button-classname}--text {
  pointer-events: none;

  // Adding margin left if the icon is positioned to the left;
  .#{$button-classname}--icon + & {
    margin-left: 1em;
  }
}